.button {
    width: 100%;
    border: 3px solid black;
    background: none;
    aspect-ratio: 1;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    color: black;
    transition: 0.8s;
    border-radius: 8px;
}

.button.active {
    background: #15b646;
    color: #268d45;
}

.button.inactive {
    opacity: 0.3;
}

.button:hover:not(:disabled),
.button:focus:not(:disabled) {
    background: #b340ff;
    color: white;
    box-shadow: 0 0 50px #b340ff;
}
